/* ===================================== 
   FONT IMPORTS
======================================== */
@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

/* ===================================== 
   RESETS
======================================== */
* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
/* ===================================== 
   BODY STYLES
======================================== */
body {
    font-family: 'Nunito', sans-serif;
    background-color:hsl(0, 0%, 17%);
    font-size: 62.5%; /*To get a 10px base font*/
}

.header {
    background-image: url('../img/header-skyline.png');
    height: 15rem;
    background-size: cover;
    position: relative;
    margin-bottom: 2rem;
    box-shadow: .4rem .4rem .4rem rgba(0, 0, 0, 0.2);
}
.header__text{
    animation-name: moveInTop;
    animation-duration: 1.5s;
    backface-visibility: hidden;
    width: 100;
    font-size: 10vw;
    font-family: 'Oswald', sans-serif;
    text-shadow: .4rem .4rem .4rem rgba(0, 0, 0, 0.2);
    text-align: center;
    color: rgba(255, 255, 255, .9);
    padding-top: vh;
}
.header__container{
    margin: 0rem auto;
    height: 18rem;
}
.header__container--gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    background-image: linear-gradient(to right bottom, rgba(246, 177, 166), rgba(239, 188, 122));
}
.gallery {
    margin: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ar .employee-info{
    text-align: right;
}
/* ===================================== 
   CARD STYLES
======================================== */
.card {
    background-color: #fff;
    border-radius: .5rem;
    margin: .75rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    flex: 0 0 22rem;
    flex-direction: row;
}
.card:hover {
    transform: translateY(-3px);
    cursor: pointer;
    box-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.2);
  }
.card__img-container {
    display: inline-block;
    padding: 1.5rem
}

.card__profile-pic {
    border-radius: 7.5rem;
    margin: auto 0;
    width: 5.5rem;
}

.card__employee-info {
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    padding: auto 0;
}
.card__employee-info--name{
    font-size: 1.5rem;
}
.card__employee-info--more{
    font-weight: 700;
    font-size: .8rem;
    display: inline;
    text-transform: uppercase;
}
.ar {
    flex-direction: row-reverse;
    text-align: right;
}

/* ===================================== 
   HEADER ANIMATION AND STYLES
======================================== */

@keyframes moveInTop { /* browsers work best with opacity and transform */
    0% {
        opacity: 0;
        transform: translateY(-6rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* @media all and (min-width: 880px) {
    .header__text{
        animation-name: moveInTop;
        animation-duration: 1.5s;
        backface-visibility: hidden;
        width: 100;
        font-size: 6.5rem;
        font-family: 'Oswald', sans-serif;
        text-shadow: .4rem .4rem .4rem rgba(0, 0, 0, 0.2);
        text-align: center;
        color: white;
        padding-top: 3rem;
    }
  } */